
$color-text-main: #000000;
$color-background: #20113D;
$color-text-alternative: #FFFFFF;
$color-link-header: #F58021;
$color-topic-btn: #00A092;
$color-topic-btnHover: #05786E;
$color-hover-btn: #D26004;


$min-content-width: 1921px;
$content-width: 1920px;
$content-width7: 700px;
$content-notebook: 1200px;
$content-tablet: 640px;
$content-mobile: 320px;